__pycache__
#.*#
~$*
*.bak
*.back
/debug*py
/*png
/check_metadata.py
.DS_Store
old
temp
*~
.env
*.env
py_env
kobo
*.xls
*.xlsx
/experts*.txt
/reports/*
/results/*
kobo_gen/*
/docs
secrets.toml
report_specification.md
/templates
